body {
  background-image: url("bg.png");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  font: black;
  background-position: center 74%; 
}

@media screen (min-width: 320px) and (max-width: 768px) {
  .element {
    background-size: left;
    background-position: center 24%; 
  }
}


@media (min-width: 600px) {
    main {
      flex-wrap: nowrap;
    }

    div {
      flex-basis: 33%;
    }
  }



/* Add a background color to the top navigation */
.topnav {
  background-color: whitesmoke;
  overflow: hidden;
  margin: 20%;
  margin-top: 1%;
  margin-bottom: 1%;
  text-align: center;
}
 

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: black;
  text-align: center;
  padding: 220px 16px;
  text-decoration: none;
  font-size: 17px;
  }


 

  /* Style the navigation menu */
.topnav {
  position: middle;
}


 
/* Change the color of links on hover */
.topnav a:hover {
  background-color: black;
  color: white;
}


/* Style navigation menu links */
.topnav a {
  color:black;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

/* Style the hamburger menu */
.topnav a.icon {

  img: url("mstile-150x150.png");
  position: absolute;
 
}


.parallax {
  /* The image used */
  color: white;

  /* Full height */
  height: 60%; 
  margin: 8%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}






div.transbox {
  margin: 9px;
  background-color: #ffffff;
  opacity: 0.8;
}

div.faketransbox {
  margin: 9px;
  background-color: #ffffff;
  opacity: 1.0;
}

div.transbox p {
  margin: 25%;
  font-weight: bold;
  color: #000000;
}


@media screen (min-width: 320px) and (max-width: 768px) {
  .element {
    margin: 30px;
  }
}


small {
  font-size: smaller;
  color: grey;
  font-family: "Lucida Console", "Courier New", monospace;
}

big {
  font-size: larger;
  color: grey;
  font-family: "Lucida Console", "Courier New", monospace;
}


div.center {
    text-align: center;
    margin: 1%;
}

div.right {
text-align: right;
margin: 40px;
}

div.left {
  text-align: left;
  margin: 40px;
  }

div.datenschutz {
  text-align: left;
  margin: 40px;
}

.grid-container {
  display: grid;
  grid: 150px /  auto auto;
  grid-gap: 0px;
  background-color: thistle;
  padding: 0px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 30px 0;
  font-size: 30px;

}



div.image1ale {
float: left;
padding: 15px;
}

div.image2ale {
float: right;
padding: 15px;
}

div.logosmaller {
float: right;
padding: 12%;
}

.button {
  background-color: lightcoral; 
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.button1 {width: 250px;}



div.gallery {
   line-height:0;
   -webkit-column-count:3; /* split it into 3 columns */
   -webkit-column-gap:5px; /* give it a 5px gap between columns */
   -moz-column-count:3;
   -moz-column-gap:5px;
   column-count:3;
   column-gap:5px;
}
div.gallery img {
   width: 100% !important;
   height: 100% !important;
   margin-bottom:6px; /* to match column gap */
   white-space: nowrap;
}


div.desc {
  padding: 6px;
  text-align: center;
  color: black;
  margin-bottom: 2px;
  font-size: 34%;
  white-space: nowrap;
  width: 100% !important;
  height: 100% !important;
  }


span {
    display: inline-block;
}
img {
    width: 100%;
}



/* submit form */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

section {
  height: 100vh;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}
.form-group {
  width: 100%;
  margin-top: 20px;
  font-size: 20px;
}
.form-group input,
.form-group textarea {
  width: 100%;
  padding: 5px;
  font-size: 18px;
  border: 1px solid rgba(128, 128, 128, 0.199);
  margin-top: 5px;
}

textarea {
  resize: vertical;
}
button[type="submit"] {
  width: 100%;
  border: none;
  outline: none;
  padding: 20px;
  font-size: 24px;
  border-radius: 8px;
  font-family: "Montserrat";
  color: rgb(27, 166, 247);
  text-align: center;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease background-color;
}
button[type="submit"]:hover {
  background-color: rgb(214, 226, 236);
}
#status {
  width: 90%;
  max-width: 500px;
  text-align: center;
  padding: 10px;
  margin: 0 auto;
  border-radius: 8px;
}
#status.success {
  background-color: rgb(211, 250, 153);
  animation: status 4s ease forwards;
}
#status.error {
  background-color: rgb(250, 129, 92);
  color: white;
  animation: status 4s ease forwards;
}
@keyframes status {
  0% {
    opacity: 1;
    pointer-events: all;
  }
  90% {
    opacity: 1;
    pointer-events: all;
  }
  100% {
    opacity: 0;
    pointer-events: none;
  }
}

footer {
  background-color: transparent;
  font-family: arial;
  text-align: center;
  overflow: hidden;
  font-size: 75%;
  font-style: normal;
  width: 100%;
}
.footertable {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
}
.footertable td, th {
  border-color: transparent;
  border-width: 1px;
  border-spacing: initial;
  border-style: solid;
  text-align: left;
  vertical-align: top;
  margin-top: 5px;
}
.footertable a {
  text-decoration: none;
}
.footertable a:link, li a:visited, li a:focus {
  color: #000000;
}
.footertable a:hover {
  cursor: pointer;
}
.footertable a:active {
  color: #666666;
}
.footerlinks li {
  list-style-type: none;
  display: inline;
  text-align: center;
}
.footerlinks li a {
  text-decoration: none;
  margin-left: 5px;
  margin-right: 5px;
  float: center;
  margin-bottom: 5px;
}
.footerlinks li a:link, li a:visited, li a:focus {
  color: #666666;
}
.footerlinks li a:hover {
  cursor: pointer;
}
.footerlinks li a:active {
  color: #AAAAAA;
}

@media print {
  .page-break
    display: block;
  page-break-after: avoid;
}

.cursorpointer {
  cursor: pointer;
}

#sidebar {
  background-color: black;
  padding: 2%;
  margin-right: 3%;
  margin-top: relative;
  float: center;
}

#sidebar h3 {
  color: #000000;
  font-size: 110%;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

.sideforms {
  text-align: left;
  margin: 5%;
  float: left;
}

#bestsoldlist {
  list-style-position: outside;
}

a.sidelinks {
  text-decoration: none;
  float: left;
}

a.sidelinks:link, a.sidelinks:visited, a.sidelinks:focus {
  color: #000000;
}

a.sidelinks:active {
  color: #ffffff;
  text-decoration: underline;
}

#whyphoneworld {
  text-indent: 5%;
  text-align: left;
  float: left;
}

#cartbutton {
  background-color: #FFFFFF;
  color: #000000;
  font-size: 90%;
  text-decoration: none;
  text-align: center;
  border: 1px solid #000000;
  border-radius: 6px;
  display: inline-block;
  top: 400px;
  right: -120px;
  float: right;
  position: auto;
}

#cartbutton:hover {
  background-color: #DDDDDD;
  color: #000000;
  left: 0px;
  transition-duration: 0.5s;
}

#bestwebshop {
  text-align: left;
  margin-left: 3%;
  float: left;
}

#bestwebshoplist {
  list-style-type: none;
}

#maintable {
  border-collapse: collapse;
  caption-side: relative;
   width: auto;
  margin-left: 12%;
  margin-right: auto;
}

#maintable th, td {
    text-align: auto;
    vertical-align: top;
    padding: 8px;
}

#maintable tr:nth-child(even) {
  background-color: coral;
}

.buyphone {
  margin-left: 1.5%;
  width: 45%;
}

#maintable .figcaption {
  font-size: 10px;
  text-align: center;
}

.phoneimg {
  height: 384px;
  padding-bottom: 10%;
  margin: 5%;
}

.phoneimg:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}

#inputscreensize {
  width: 75%;
}

#inputimageurl {
  width: 31.25%
}

.tableformbutton {
  background-color: beige;
  color: coral;
  border-radius: 8px;
}

.tableformbutton:hover {
  color: blue;
  transition-duration: 0.5s;
}

#tableformsubmit {
  border: 2px solid lightblue;
}

#tableformsubmit:hover {
  background-color: lightblue;
}

#tableformreset {
  border: 2px solid coral;
}

#tableformreset:hover {
  background-color: coral;
}


#reviewstable {
    width: auto;
}

#reviewstable td {
  text-align: left;
  vertical-align: middle;
  float: center;
}

section {
  height: 100vh;
  width: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.container {
  width: 90%;
  max-width: 500px;
  margin: 0 auto;
  padding: 20px;
  box-shadow: 0px 0px 20px #00000010;
  background-color: white;
  border-radius: 8px;
  margin-bottom: 20px;
}

.container {
  width: auto;
  margin: 0 auto;
  padding: 0 auto;
  position: left;
  height: auto;
  opacity: 1;
}


